<div class="col-lg-6">
  <article class="d-flex flex-column">

    <div class="post-img">
      <img src="{{ .Params.img }}" alt="{{ .Title }}" class="img-fluid">
    </div>

    <h2 class="title">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>

    <div class="meta-top">
      <ul>
        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{{ .RelPermalink }}"><time datetime='{{ partial "date.html" .Date }}'>{{ partial "date.html" .Date }}</time></a></li>
      </ul>
    </div>

    <div class="content">
      <p>
        {{ .Summary }}
      </p>
    </div>

    <div class="read-more mt-auto align-self-end">
      <a href="{{ .RelPermalink }}">Leer mas</a>
    </div>

  </article>
</div><!-- End post list item -->