<aside class="sidebar-item search-form">
  <form action="#" class="mt-3">
    <div id="search-section" class="form-group">
      <div id="search-form" class="input-group">
        <input
          id="search-input"
          type="text"
          class="form-control"
          placeholder='Busqueda'>
        <div class="input-group-append">
          <button class="btn" type="button">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
  <div id="search-results-box">
    <ul class="unordered-list" id="search-results-list"></ul>
    <div id="search-results-noresults" class="notification is-info">
      No se encontraron resultados.
    </div>
  </div>
</aside>
