<section id="hero-fullscreen" class="hero-fullscreen d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center position-relative" data-aos="zoom-out">
      <h2>Bienvenidos a <span>LynxOS</span></h2>
      <p>Un sistema basado en GNU/Linux y pensado para vos</p>
      <div class="d-flex">
        <a href="/downloads/" class="btn-get-started scrollto">Descargar</a>
        <!--<a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>-->
      </div>
    </div>
  </section>