<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="footer-content">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>LynxOS</h3>
            <p>
              GBA Sur <br>
              Buenos Aires, ARG<br><br>
              <strong><i class="fa fa-phone"></i></strong> +54 9 11 2388-2753<br>
              <strong><i class="fa fa-envelope"></i></strong> lynx.software.design@gmail.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Links Utiles</h4>
          <ul>
            <li><i class="fa fa-chevron-right"></i> <a href="/">Inicio</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="/#about">Sobre Nosotros</a></li>
            <!--<li><i class="fa fa-chevron-right"></i> <a href="#">Services</a></li>-->
            <li><i class="fa fa-chevron-right"></i> <a href="/terms/">Terms of service</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="/privacy/">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Servicios</h4>
          <ul>
            <li><i class="fa fa-chevron-right"></i> <a href="https://lynx.net.ar/">Soporte Técnico</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="https://lynx.net.ar/">Desarrollo de Software</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="https://qrgenerator.lynx.net.ar/">QR Generator</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="https://wppgenerator.lynx.net.ar/">WPP Link Generator</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Novedades</h4>
          <script>
            hbspt.forms.create({
              region: "na1",
              portalId: "22124639",
              formId: "34240799-128a-4aa0-b071-34f3b290b5c5"
            });
          </script>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-legal text-center">
    <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

      <div class="d-flex flex-column align-items-center align-items-lg-start">
        <div class="copyright">
          &copy; Copyleft <strong><span>LynxOS</span></strong>. All Rights Public
        </div>
        <div class="credits">
          Creado por <a href="https://lynx.net.ar/">Lynx Software Design</a>
        </div>
      </div>

      <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
        <a href="https://t.me/LynxOS" target="_blank"><i class="fa fa-paper-plane"></i></a>
        <a href="https://t.me/LynxOSNews" target="_blank"><i class="fa fa-newspaper-o"></i></a>
        <a href="https://gitlab.com/LynxOS" target="_blank"><i class="fa fa-gitlab"></i></a>
        <a href="https://twitter.com/LynxOSLinux" target="_blank"><i class="fa fa-twitter"></i></a>
      </div>

    </div>
  </div>

</footer><!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="fa fa-arrow-up"></i></a>

<div id="preloader"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/js/aos.js"></script>
<script src="/js/glightbox.min.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>
<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/main.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js">
</script>
<script src="/js/search.js"></script>
