<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>LynxOS</title>
  <link rel="icon" href="/img/icon.svg" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/aos.css" />
  <link rel="stylesheet" href="/css/glightbox.min.css" />
  <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/css/variables.css" />
  <link rel="stylesheet" href="/css/main.css" />


  <!-- METADATA -->
  <meta name="author" content="PatoJAD" />
  <meta content='@PatoJADOficial' name='twitter:site'/>
  <meta content='@PatoJADOficial' name='twitter:creator'/>
  <meta property="og:url" content="https://lynxos.patojad.com.ar{{ .RelPermalink }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:image" content='{{ if isset .Params "img" }}{{ .Params.img }}{{else}}/img/hero-fullscreen-bg.jpg{{ end }}' />
  <meta property="og:locale" content="es-ES" />
  <meta
    name="description"
    content="{{ .Summary }} LynxOS un sistema operativo basado en Linux pensado para todos los usuarios"
    property="og:description" />

  <meta content='{{ range .Params.tags }}{{ . }}, {{ end }} Linux, GNU, LynxOS, Lynx, gnu, lynx, lynxos, arch, arch linux, distro, linux, systemd, nwjs, desktop, lynx desktop, web desktop, lsd, lynx software design' name='keywords' />

  <!-- CANONICAL LINK -->
  <link rel="canonical" href="https://lynxos.patojad.com.ar{{ .RelPermalink }}"/>

</head>
<!-- Forms HubSpot -->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
